/* Global settings */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Header font and background color */
header{
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* setting the header h1 text settings */
header h1{
    display: inline-block;
    font-size: 48px;
}
/* Setting the alternate text color inside h1 */
header h1 .seo{
    color: #d9dcd6;
}
/* Setting the navigation menu position and text settings */
header nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* Using list-style type of none to remove the bullets from the list */
header nav ul{
    list-style-type: none;
}
/* positioning for the navigation list elements */
header nav ul li{
    display: inline-block;
    margin-left: 25px;
}
/* Removing href text decoration and setting the padding and color
of the list elements*/
a {
    color: #ffffff;
    text-decoration: none;
    padding:9px;
}
/* background image settings */
.background img{
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    object-fit: cover;
}
/* Setting the background color behind content elements and aside */
body {
    background-color: #d9dcd6;
}
/* sizing and positioning for left img elements inside the content boxes */
.img-left {
    float: left;
    margin-right: 25px;
    height:200px;
    width: 290px;
}
/* sizing and positioning for right img elements inside the content boxes */
.img-right {
    float: right;
    margin-left: 25px;
    height:200px;
    width: 305px;
}
/* content box position, background, and text settings*/
.content {
    position:relative;
    bottom:4px;
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Header sizing and margining inside content */
.content h2{
    margin-bottom: 20px;
    font-size: 36px;
}
/* positioning and styling of side panel */
aside{
    position:absolute;
    top:920px;
    right: 0px;
    margin-right: 20px;
    padding: 20px;
    width: 20%;
    height: 940px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* margining and text color of sideSection elements */
.sideSection {
    margin-bottom: 32px;
    color: #ffffff;
}
/* sideSection heading centering */
.sideSection h3 {
    text-align: center;
}
/* sideSection image formatting */
.sideSection img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* footer text formatting and position */
footer {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* footer heading sizing */
footer h2 {
    font-size: 20px;
}
